* {

margin: 0;

padding: 0;

font-family: arial;
  
color: #f538e2;

}
body { background-image: url("thresh-lol-dark-star-splash-art-uhdpaper.com-hd-491.jpg"); background-size: cover; height: 100%;}

<link rel="stylesheet" href="style.css">
